<h1>Stupid Coaching</h1>
<p>Ask your coack anything :</p>
<form action="/answer" data-turbo="false" method="get" class="form-group">
  <input type="text" class="form-control w-50 my-3" name="question"value="<% params[:question]%>">
  <input type="submit" class="form-label btn btn-primary w-50">
</form>
